.shop .shoptext h1 {
  font-size: 50px;
}
.price .table td {
  padding: 20px 40px;
  text-align: center;
}
.price .table th {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-family: PoppinsLight;
  padding: 15px 40px;
}
.price .table td .priceimg {
  max-width: 100px;
  text-align: start;
}
.price .table td .pricetext {
  text-align: start;
}
.price .table td .pricetext a {
  font-size: 15px;
}
.price .table td .pricetext p {
  font-size: 12px;
  padding-top: 7px;
}
.price .table td .num {
  display: inline-block;
  font-size: 14px;
  padding-inline-end: 5px;
  padding-bottom: 10px;
  padding-top: 30px;
}
.price .table td span {
  color: red;
  font-size: 15px;
}
.price .table td .auto {
  color: black;
  font-size: 14px;
}
.price .table td input {
  width: 20%;
  text-align: center;
  padding: 10px 10px;
  margin-top: 20px;
  border: 1px solid #86868661;
}
.price .table td .you {
  padding-top: 30px;
  color: black;
  font-size: 13px;
  font-family: PoppinsMedium;
}
.add .add2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.add .add1 p {
  display: inline-block;
  padding-inline-start: 10px;
  font-size: 13px;
  font-family: PoppinsMedium;
}
.add .add1 .btn {
  padding: 10px 40px;
  background-color: white;
  border: 2px solid black;
  font-size: 13px;
  font-family: PoppinsMedium;
  text-transform: capitalize;
  border-radius: 0;
  transition: all 0.3s;
}
.add .add1 .btn:hover {
  color: #0ec1ae;
}
.add .add1 .add3 label {
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}
.add .add1 .add3 label p {
  font-size: 12px;
  font-family: PoppinsSemiBold;
}
.add .add1 .add3 label span {
  font-size: 14px;
}
.add .add1 .add3 input {
  padding: 20px 20px;
  width: 100%;
  border: 1px solid #86868661;
}
.add .add1 .add3 input:focus {
  outline: none;
}
.add .add1 .add3 .code {
  padding: 10px 0;
  color: #868686;
  font-family: PoppinsRegular;
}
.add .ship {
  text-align: end;
  text-transform: capitalize;
}
.add .ship span {
  color: #428445;
  font-size: 14px;
}
.add .ship p {
  font-size: 13px;
}
.progress-bar {
  color: white;
  text-align: end;
}
.progress {
  margin-top: 30px;
  height: 7px;
  margin-bottom: 30px;
}
.ship {
  position: relative;
}
.progress-bar-striped {
  background-color: #428445;
}
.van {
  position: absolute;
  right: 0px;
  top: 40px;
}
.ship .van span {
  color: white;
  border-radius: 50%;
  padding: 10px;
  background-color: #428445;
}
.ship .money p {
  font-size: 14px;
  font-family: PoppinsMedium;
  padding-bottom: 7px;
}
.ship .money .tax {
  color: #868686;
  font-family: PoppinsLight;
}
.ship .money label {
  font-size: 15px;
  padding: 10px 0;
  margin-bottom: 10px;
}
.ship .money .out {
  padding: 10px 30px;
  background-color: black;
  color: white;
  text-transform: capitalize;
  border: 1px solid black;
  font-size: 15px;
  transition: all 0.5s;
  margin-bottom: 30px;
}
.ship .money .out:hover {
  background-color: #0ec1ae;
  border-color: #0ec1ae;
}
.count .counttext h3 {
  position: relative;
  position: absolute;
  opacity: 1;
  z-index: 1;
  top: -10%;
  right: 41%;
  display: inline-block;
  background-color: white;
  padding: 0 20px;
}
.count .counttext {
  text-align: center;
}
.count {
  position: relative;
}
.count .coun {
  text-align: center;
  padding: 60px 10px;
  border: 1px solid #8686865d;
}
.count .coun .form-select {
  border-radius: 0;
  color: #868686;
  text-transform: capitalize;
}
.count .coun input {
  width: 97%;
  border-radius: 0;
  padding: 6px;
  border: 1px solid #86868651;
}
.count .coun .of {
  padding: 9px 0;
  width: 100%;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  font-family: PoppinsSemiBold;
}
